#side-nav {
    width: 30%;
    height: 800px;
    margin-left: 10px;
    float: left;
}

#user-info {
    line-height: 15px;
    height: 100px;
}

#user-info p {
    margin: auto;
}
#user-info #user-email {
    color: dimgray;
    font-style: italic;
    font-size: .75em;
}
#user-info img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 15px;
    background-color: lightgray;
    border-radius: 50px;
    border: 1px solid lightgray;
}
#settings {
    float: right;
    position: relative;
    top: 0;
    color: dimgray;
    cursor: pointer;
}
#side-nav ul {
    padding: 0;
    color: dimgray;
    list-style: none;
}
#side-nav li {

    line-height: 45px;
}
#side-nav ul i {
    padding-right: 20px;
}
#notification-alert {
    width: 30px;
    height: 30px;
    background-color: #017F40;
    border-radius: 15px;
    float: right;
    margin-top: 5px;
    text-align: center;
    color: white;
    line-height: 30px;
    cursor: pointer;
}