/* general css, classes and media queries */
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    overflow-y: auto;
}
div, a {
    font-family: 'Comfortaa', cursive;
}
.modal {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 1;
}
.content, .nav-bar-content {
    width: 1080px;
    margin: auto;
}
.nav-bar-content {
    height: 70px;
}
.separation-line {
    width: 100%;
    border-bottom: 1px solid lightgray;
    margin: 0 5px 0 5px;
}
.directory-name {
    font-weight: 900;
    color: black;
}
.side-nav-active {
    background-color: #ECECEC;
    border-radius: 25px;
}
.large-column {
    min-width: 200px;
    width: 70%;
}
.cursor-pointer {
    cursor: pointer;
}
#top-nav-btn {
    display: none;
}
.side-nav-title {
    display: none;
}
.mobile {
    display: none;
}

@media only screen and (max-width: 1080px) {
    .content, .nav-bar-content {
        min-width: 600px;
        width: 100%;
        margin: auto
    }
    header {
        min-width: 480px;
        height: 70px;
        background-color: #017F40;
        box-shadow: 0 0 5px 0;
        z-index: 1;
    }
    #content-panel {
        width: 100%;
        float: left;
    }
    #content-header {
        margin: 0 20px;
    }
    .side-nav {
        background-color: white;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 999;
        top: 0;
        right: 0;
    }
    .side-nav-title {
        height: 70px;
        background-color: #017F40;
        font-size: 1.5em;
        color: white;
        display: flex;
        align-items: center;
    }
    .side-nav-title i {
        right: 0;
    }
    .side-nav a {
        color: dimgray;
        text-decoration: none;
        font-size: 1.5em;
        display: block;
        border-bottom: 1px solid lightgray;
        line-height: 40px;
        padding-left: 30px;
    }
    .side-nav i {
        margin-right: 20px;
    }
    #top-nav-btn {
        width: 250px;
        display: inline;
        color: white;
        right: 0;
        margin-left: 10px;
    }
    #user-info {

    }
}

