<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Platt Box</title>
    <link rel="icon" href="../images/platt-logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    <link rel="stylesheet" type="text/css" href="../styles/header.css">
    <link rel="stylesheet" type="text/css" href="../styles/content.css">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link rel="stylesheet" type="text/css" href="../styles/mobile-style.css">
    <script src="https://use.fontawesome.com/f059ef59d8.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script rel="script" type="text/javascript" src="../scripts/jquery.tablesorter.min.js"></script>
    <script rel="script" type="text/javascript" src="../scripts/main.js"></script>
</head>
<body>
    <div class="modal"></div>
    <!--nav-bar-->
    <header>
        <div class="nav-bar-content">
            <div id="logo">
                <a href="#" class="desktop"><img src="../images/platt-box-logo-sm.png"></a>
            </div>
            <div id="search">
                <input id="search-box" type="text" placeholder="Search Customers">
                <i id="search-icon" class="fa fa-search fa-1x" aria-hidden="true"></i>
                <i id="top-nav-btn" class="fa fa-bars cursor-pointer" aria-hidden="true"></i>
                <!--<div class="side-nav">
                    <div class="side-nav-title">
                        Menu
                        <i id="close-side-nav" class="fa fa-times cursor-pointer" aria-hidden="true"></i>
                    </div>
                    <div></div>
                    <a href="#">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        Recent
                    </a>
                    <a href="#">
                        <i class="fa fa-file-o" aria-hidden="true"></i>
                        Files
                    </a>
                    <a href="#">
                        <i class="fa fa-folder" aria-hidden="true"></i>
                        Folders
                    </a>
                    <a href="#">
                        <i class="fa fa-file-image-o" aria-hidden="true"></i>
                        Photos
                    </a>
                    <a href="#">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                        Notifications
                        <div class="notification-alert">0</div>
                    </a>
                    <a href="#">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        Sign Out
                    </a>
                </div>-->
            </div>
        </div>
    </header>
    <!--content-->

    <div class="content">
        <div id="id-banner" class="mobile"></div>
        <!--side-nav-->

        <div id="side-nav" class="side-nav">
            <div class="side-nav-title">
                Menu
                <i id="close-side-nav" class="fa fa-times cursor-pointer" aria-hidden="true"></i>
            </div>
            <div id="user-info">
                <img src="../images/me.jpg">
                <i id="settings" class="fa fa-cog fa-2x"></i>
                <br><br>
                <p id="dn-title" class="directory-name">Nike Inc.</p>
                <p id="user-email">emailaddress@domain.com</p>
            </div>
            <div class="separation-line"></div>
            <div id="side-nav-content">
                <a class="side-nav-text">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    Recent
                </a>
                <a class="side-nav-text">
                    <i class="fa fa-file-o" aria-hidden="true"></i>
                    Files
                </a>
                <a class="side-nav-text">
                    <i class="fa fa-folder" aria-hidden="true"></i>
                    Folders
                </a>
                <a class="side-nav-text">
                    <i class="fa fa-file-image-o" aria-hidden="true"></i>
                    Photos
                </a>
                <a class="side-nav-text">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                    Notification
                    <div id="notification-alert" class="notification-alert">0</div>
                </a>
                <a class="side-nav-text">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Sign Out
                </a>
            </div>
        </div>
        <!--main content-->
        <div id="content-panel">
            <div id="content-header">
                <!--
                -Static value for directory
                -For actual functionality, possible use of bootstrap breadcrumb.
                -If directory gets too long, only display the most recent few directories and use an ellipsis
                -->
                <div id="directory">
                    BOX/
                    <span class="directory-name">Nike Inc./</span>
                </div>
                <div id="content-actions">
                    <a id="addFile" class="fa fa-file-text-o fa-2x" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Upload" aria-hidden="true"></a>
                    <a id="addDir" class="fa fa-folder-o fa-2x" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Add Folder" aria-hidden="true"></a>
                    <a class="fa fa-trash-o fa-2x" data-toggle="popover" data-trigger="hover" data-placement="bottom"  data-content="Delete" aria-hidden="true"></a>
                </div>
                <!--WIP: sort table-->
                <table id="files-table" class="tablesorter">
                    <thead>
                        <tr>
                            <th class="small-column"></th>
                            <th class="large-column sortable">Name</th>
                            <th class="small-column sortable">Size</th>
                            <th class="small-column sortable">Date</th>
                            <th class="small-column"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fa fa-file-text-o" aria-hidden="true"></td>
                            <td>#Name</td>
                            <td>#Size</td>
                            <td>04-14-2016</td>
                            <td class="fa fa-ellipsis-v cursor-pointer popover-menu" data-toggle="popover" data-placement="bottom" data-content="Rename" aria-hidden="true"></td>
                        </tr>
                        <!--WIP: allow for folder renaming-->
                        <tr>
                            <td class="fa fa-folder" aria-hidden="true"></td>
                            <td id="folder1">#Name</td>
                            <td>#Size</td>
                            <td></td>
                            <td class="fa fa-ellipsis-v cursor-pointer popover-menu" aria-hidden="true"></td>
                        </tr>
                    </tbody>
                </table>
            </div><!--content-header-->
        </div><!--content-panel-->
    </div>

</body>
</html>